@inherits LayoutComponentBase

<div class="page">
    <div class="top-bar">
        <a href="">Todo App</a>
        <nav>
            <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink href="todos">Todos</NavLink>
        </nav>
    </div>

    <div class="main-content">
        @Body
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">x</a>
</div>
